/* cantarell-regular */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 400;
	src: local("Cantarell Regular"), local("Cantarell-Regular"), url(cantarell-regular.woff2) format("woff2");
}

/* cantarell-bold */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 700;
	src: local("Cantarell Bold"), local("Cantarell-Bold"), url(cantarell-bold.woff2) format("woff2");
}
