.SocialLink {
  background-color: var(--fg);
  padding: 10px;
  border-radius: 15px;
  user-select: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-right: 5px;
}

.SocialLink:hover {
  background-color: var(--fg-hover);
}

.SocialLink:active {
  background-color: var(--fg-active);
}

.link {
  text-decoration: none;
}

.icon {
  height: 20px;
  padding-right: 5px;
}

.label {
  margin: auto;
}
